<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
</head>
<body>
  <h1>Search Products</h1>
  <form action="/user/search" method="POST">
    <input type="text" name="query" placeholder="Search by Name/Category" />
    <button type="submit">Search</button>
  </form>

  <h2>Results</h2>
  <ul>
      <% products.forEach(product => { %>
      <li><%= product.name %> - <%= product.category %> - $<%= product.price %></li>
      <% }) %>
  </ul>
</body>
</html>
