
doctype html
html
    head
        title Add Product
       
    body
        h1 Add New Product
        form(action='/admin', method='POST')
            label(for='name') Product Name:
            input(type='text', name='name', id='name', required)
            br
            label(for='description') Description:
            input(type='text', name='description', id='description', required)
            br
            label(for='price') Price:
            input(type='number', name='price', id='price', required)
            br
            label(for='available') Available Quantity:
            input(type='number', name='available', id='available', required)
            br
            button(type='submit') Add Product

        // Link to go back to the catalog page
        a(href='/') Back to Catalog
